{% extends 'main/base.html' %}

{% load static %}

{% block title %}О нас{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static 'main/css/about_us.css' %}">

{% endblock %}

{% block content %}

    <img src="{% static 'main/img/photo_2022-12-30_05-12-21.jpg' %}" alt="" class="background">


    <p> Мастерская «Blisset» - это авторское белье и одежда
        для сна и отдыха, а так же свадебные коллекции,
        созданные только из лучших материалов и кружев.</p>

    <p>Вдохновляясь эстетикой женской красоты,
        мы шьем наши изделия индивидуально по Вашим меркам,
        что бы отдать Вам белье, которое подчеркнет
        Вашу естественную красоту и останется шедевром
        Вашего гардероба.</p>

    <p>Каждое изделие создано, разработано и прошито
        профессионалами своего дела, благодаря которым
        рождается качественно выполненная вещь - а это есть
        материализованная честность! </p>

    <p>И в каждое изделие мы добавляем секретный ингредиент...
        любовь к нашим клиентам!!!


    </p>

{% endblock %}