{% load configs_tags %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/css/fonts_styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>

<div class="feedback_window">
    <img width="40px" height="40px" src="{% static 'main/img/exit.png' %}" onclick="closeFeedback()" alt=""
         class="exit-form">
    <img class="logo-form" src="{% static 'main/img/logo.svg' %}">
    <p class="feedback-title">Обратная связь</p>
    <form method="post">
        {% csrf_token %}
        <input placeholder="Как вас зовут" type="text">
        <input placeholder="Город" type="text">
        <input placeholder="E-mail" type="email">
        <input placeholder="Тема" type="text">
        <textarea class="feedback-message" placeholder="Сообщение"></textarea>
        <div class="personal_data">
            <input type="checkbox">
            Соглашаюсь на обработку персональных данных
        </div>
        <input class="submit" type="submit" value="Отправить заявку">
    </form>
</div>
<header>

    <div class="header_links_top">
        <div class="header_links">
            <a href="/">Главная</a>
            <a href="/about_us">О нас</a>
            <a href="/collections">Каталог</a>
        </div>

        <div class="header_links" id="header_links-end">
            <a href="email: {% email %}" class="email">{% email %}</a>
            <a id="instagram_link" href="https://www.instagram.com/{% instagram %}">
                <img width="20px" src="{% static 'main/img/instagram.png' %}">
            </a>
        </div>
    </div>


    <div class="header_strip">
        <div class="logo-container">
            <a href="/" class="logo_link">
                <img src="{% static 'main/img/logo.svg' %}" id="logo">
            </a>

        </div>
    </div>

    <div class="menu_btn" onclick="checkMenu()">
        <img src="{% static 'main/img/menu.png' %}" alt="">
    </div>

    <div class="collections">
        {% collections5 as collections %}
        {% for collection in collections %}
            <a href="/collections/{{ collection.get_url }}">{{ collection.name.upper }}</a>

        {% endfor %}
        <a href="/gift_certificate">GIFT CERTIFICATE</a>
    </div>

</header>


<div class="btn-up btn-up_hide">
    <img width="20px" src="{% static 'main/img/pngwing.com.png' %}" alt="">
</div>

<script>
    const btnUp = {
        el: document.querySelector('.btn-up'),
        show() {
            // удалим у кнопки класс btn-up_hide
            this.el.classList.remove('btn-up_hide');
        },
        hide() {
            // добавим к кнопке класс btn-up_hide
            this.el.classList.add('btn-up_hide');
        },
        addEventListener() {
            // при прокрутке содержимого страницы
            window.addEventListener('scroll', () => {
                // определяем величину прокрутки
                const scrollY = window.scrollY || document.documentElement.scrollTop;
                // если страница прокручена больше чем на 400px, то делаем кнопку видимой, иначе скрываем
                scrollY > 400 ? this.show() : this.hide();
            });
            // при нажатии на кнопку .btn-up
            document.querySelector('.btn-up').onclick = () => {
                // переместим в начало страницы
                window.scrollTo({
                    top: 0,
                    left: 0,
                    behavior: 'smooth'
                });
            }
        }
    }

    btnUp.addEventListener();
</script>


<div class="path">{% block path %}{% endblock %}</div>

<div class="content">
    {% block content %}{% endblock %}
</div>

<div class="instagram_lower">
    <img src="{% static 'main/img/instagram.png' %}" alt="">
    <span class="instagram_block">
             <a href="https://www.instagram.com/blissetofficial/">@blissetofficial</a>
    </span>
    <span class="instagram_block">
                 <a href="https://www.instagram.com/blissetwedding/">@blissetwedding</a>
    </span>
</div>

<footer>
    <div class="footer-column">
        <a href="/" class="logo_link" id="logo_footer">
            <img src="{% static 'main/img/logo.svg' %}" id="logo">
        </a>
        <p> Мастерски изготовленное
            роскошное бельё, одежда
            для дома, будуарные наряды
            для Утра невесты, созданные
            женщинами для женщин</p>
    </div>

    <div class="footer-column">
        <p style="text-transform: uppercase" href="">Мы рады вам помочь</p>
        <a href="/contact_us">Свяжитель с нами</a>
        <a href="">Руководство по размерам</a>
        <a href="">Руководство по уходу</a>
    </div>
    <div class="footer-column">
        <p style="text-transform: uppercase" href="">Информация по заказу</p>
        <a href="">Заказ и доставка</a>
        <a href="">Возврат и обмен</a>
        <a href="">Договор публичной оферты</a>
    </div>
    <div class="footer-column">
        <p style="text-transform: uppercase">Контакты</p>
        <a href="tel:+375296190482">+375 (29) 619-04-82</a>
        <a href="tel:+375297139435">+375 (29) 713-94-35</a>
    </div>
</footer>

<div class="feedback-btn" onclick="openFeedback()">
    <img width="25px" src="{% static 'main/img/mail.png' %}" alt="">
</div>

<script>
    function openFeedback() {
        {#document.querySelector('.feedback_window').style.display = 'flex';#}

        document.querySelector('.feedback_window').style.display = 'flex';
        document.querySelector('.feedback_window').style.opacity = '100%';

    }

    function closeFeedback() {
        document.querySelector('.feedback_window').style.opacity = '0%';
        setTimeout(() => {
            document.querySelector('.feedback_window').style.display = 'none';

            {#document.querySelector('.feedback_window').style.transform = 'translateY(-100vh)'#}
        }, 500);


    }
</script>

<script>
    let menu = false;

    function checkMenu() {
        if (!menu) {
            openMenu();
            menu = true;
        } else {
            closeMenu();
            menu = false;
        }
    }

    function openMenu() {
        document.querySelector('.menu_mobile').style.transform = 'translateY(0)'
    }

    function closeMenu() {
        document.querySelector('.menu_mobile').style.transform = 'translateY(-100vh)'

    }
</script>

<div class="menu_mobile">
    <a href="/">Главная</a>
    <a href="/about_us">О нас</a>
    <a href="/collections">Каталог</a>

    <hr>

    <div class="collections_mobile">
        {% collections5 as collections %}
        {% for collection in collections %}
            <a href="/collections/{{ collection.get_url }}">{{ collection.name.upper }}</a>

        {% endfor %}
        <a href="/gift_certificate">GIFT CERTIFICATE</a>
    </div>
</div>

</body>
</html>