{% extends 'main/base.html' %}

{% load static %}
{% load configs_tags %}

{% block title %}Blisset{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'main/css/mainpage.css' %}">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css'>
    <link rel="stylesheet" href="{% static 'main/css/slider.css' %}">
{% endblock head %}

{% block content %}



    <div class="slider__container swiper-container">
        <div class="slider__wrapper swiper-wrapper">

            <div class="slider__slide swiper-slide">
                <video preload="auto" muted loop autoplay>
                    <source src="{% static 'main/video/video1_slider.mp4' %}" type="video/mp4">
                </video>

                <div class="slider__content">
                    <div class="slider__title">Alisee</div>
                    уже в продаже
                    <a class="slider__button" href="/">
                        Вдохновиться
                    </a>
                </div>
            </div>

            <div class="slider__slide swiper-slide">
                <img src="{% static 'main/img/BRIDE 2.jpg' %}" alt="">

                <div class="slider__content">
                    <div class="slider__title">Alisee</div>
                    уже в продаже
                    <a class="slider__button" href="/">
                        Вдохновиться
                    </a>
                </div>
            </div>

            <div class="slider__slide swiper-slide">
                <img src="{% static 'main/img/BATTERFLY 1.JPG' %}" alt="">

                <div class="slider__content">
                    <div class="slider__title">Alisee</div>
                    уже в продаже
                    <a class="slider__button" href="/">
                        Вдохновиться
                    </a>
                </div>
            </div>

        </div>
        <div class="swiper-pagination"></div>
    </div>

    <section class="page2">
        <div class="page2-content">
            <div class="big_square" style="transform: translate(-500px, 250px)">
                <div class="square" style="opacity: .0"></div>
                <div class="square" style="opacity: .4"></div>
                <div class="square" style="opacity: .2"></div>
                <div class="square" style="opacity: .1"></div>
            </div>
            <div class="big_square" style="transform: translate(250px, 225px)">
                <div class="square" style="opacity: .0"></div>
                <div class="square" style="opacity: .0"></div>
                <div class="square" style="opacity: .2"></div>
                <div class="square" style="opacity: .6"></div>
            </div>
            <div class="big_square" style="transform: translate(-200px, 225px)">
                <div class="square" style="opacity: .0"></div>
                <div class="square" style="opacity: .0"></div>
                <div class="square" style="opacity: .0"></div>
                <div class="square" style="opacity: .2"></div>
            </div>
            <div class="big_square" style="transform: translate(400px, 75px)">
                <div class="square" style="opacity: .2"></div>
                <div class="square" style="opacity: .0"></div>
                <div class="square" style="opacity: .0"></div>
                <div class="square" style="opacity: .1"></div>
            </div>
            <div class="big_square" style="transform: translate(400px, -225px)">
                <div class="square" style="opacity: .2"></div>
                <div class="square" style="opacity: .0"></div>
                <div class="square" style="opacity: .0"></div>
                <div class="square" style="opacity: .0"></div>
            </div>

            <a href="/" class="page2-button page2_button_slider swiper-container">
                <div class="swiper-wrapper">
                    <div class="page2_button_slider_slide swiper-slide">
                        Подобрать комплект
                    </div>
                    <div class="page2_button_slider_slide swiper-slide">
                        Беспроигрышный подарок
                    </div>
                </div>
            </a>
            <div class="page2-text">
                <span class="slider__title page2-title swiper-container">
                    <div class="swiper-wrapper">
                    <div class=" swiper-slide">
                        Подарочный сертификат
                    </div>
                     <div class=" swiper-slide">
                        FASHION COLLECTION
                    </div>
                </div>
                </span>

                <span class="page2_desc" id="page2_desc">
                    <div class="swiper-wrapper">
                    <div class=" swiper-slide">
                        готовь подарки для любимых
                    </div>
                     <div class=" swiper-slide">

                    </div>
                </div>
                </span>
            </div>

            <span class="page2-text2">
                <div class="swiper-wrapper">
                    <div class=" swiper-slide">
                        готовь подарки для любимых
                    </div>
                     <div class=" swiper-slide">
                        Some text
                    </div>
                </div>
            </span>

            <div class="slider1__page2 swiper-container">
                <div class="swiper-wrapper">
                    <div class="slider__slide_page2 slider__slide swiper-slide">
                        <img src="{% static 'main/img/BRIDE 2.jpg' %}" alt="">
                    </div>
                    <div class="slider__slide_page2 slider__slide slider__slide swiper-slide">
                        <img src="{% static 'main/img/BATTERFLY 1.JPG' %}" alt="">
                    </div>
                </div>
            </div>

            <div class="slider2__page2 swiper-container" style="width: 200px; height: 300px">
                <div class="swiper-wrapper">
                    <div class="slider__slide_page2 slider__slide swiper-slide">
                        <img src="{% static 'main/img/BRIDE 2.jpg' %}" alt="">
                    </div>
                    <div class="slider__slide_page2 slider__slide swiper-slide">
                        <img src="{% static 'main/img/BATTERFLY 1.JPG' %}" alt="">
                    </div>
                </div>
            </div>
        </div>

    </section>


    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src="{% static 'main/js/slider.js' %}"></script>

{% endblock %}