{% extends 'main/base.html' %}

{% load static %}

{% block title %}Руководство по размерам{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static 'main/css/size_guide.css' %}">

{% endblock %}

{% block content %}

    <p>Для того чтобы правильно снять мерки необходимо:</p>
    <ul>
        <li>встать прямо, желательно напротив зеркала во весь рост;</li>
        <li>снимать мерки желательно в белье либо тонкой облегающей одежде;</li>
        <li>сантиметровая лента должна легко скользить по телу, ничего не перетягивая, но и не свободно
            обвисая.
        </li>
    </ul>

    <p>Необходимые мерки:</p>
    <ul>
        <li>объём груди (ОГ) измеряется параллельно полу по самым выступающим точкам груди;</li>
        <li>обхват под грудью (ОПГ) измеряете параллельно полу прямо под грудью плотно!;</li>
        <li>обхват талии (ОТ) измеряется параллельно полу в самой тонкой части туловища;</li>
        <li>обхват бёдер (ОБ) измеряется параллельно полу по наиболее выступающим точкам ягодиц;</li>
        <li>рост (Р) измеряется от макушки головы до пола.</li>
    </ul>

    <br>

    <table>
        <tr>
            <td>Размер Blisset</td>
            <td>XS (42)</td>
            <td>S (44)</td>
            <td>M (46)</td>
            <td>L (48)</td>
            <td>XL (50)</td>
        </tr>
        <tr>
            <td>Рост, см</td>
            <td>168-175</td>
            <td>168-175</td>
            <td>168-175</td>
            <td>168-175</td>
            <td>168-175</td>
        </tr>
        <tr>
            <td>Обхват груди, см</td>
            <td>82-85</td>
            <td>86-89</td>
            <td>90-93</td>
            <td>94-97</td>
            <td>98-101</td>
        </tr>
        <tr>
            <td>Обхват талии, см</td>
            <td>62-65</td>
            <td>66-69</td>
            <td>70-73</td>
            <td>74-77</td>
            <td>78-81</td>
        </tr>
        <tr>
            <td>Обхват бедер, см</td>
            <td>92-95</td>
            <td>96-99</td>
            <td>100-103</td>
            <td>104-107</td>
            <td>108-111</td>
        </tr>
    </table>

    <br><br>

    <table>
        <tr>
            <td>РАЗМЕР ЧАШКИ (СМ)</td>
            <td></td>
            <td style="text-align: center" colspan="6">ОБХВАТ ГРУДИ (СМ)</td>
        </tr>
        <tr>
            <td>13 см</td>
            <td>А</td>
            <td>77-79</td>
            <td>82-84</td>
            <td>87-89</td>
            <td>92-94</td>
            <td>97-99</td>
            <td>102-104</td>
        </tr>
        <tr>
            <td>15 см</td>
            <td>В</td>
            <td>79-81</td>
            <td>84-86</td>
            <td>89-91</td>
            <td>94-96</td>
            <td>99-101</td>
            <td>104-106</td>
        </tr>
        <tr>
            <td>17 см</td>
            <td>С</td>
            <td>81-83</td>
            <td>86-88</td>
            <td>91-93</td>
            <td>96-98</td>
            <td>101-103</td>
            <td>106-108</td>
        </tr>
        <tr>
            <td>19 см</td>
            <td>D</td>
            <td>83-85</td>
            <td>88-90</td>
            <td>93-95</td>
            <td>98-100</td>
            <td>103-105</td>
            <td>108-110</td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align: center" colspan="7">ОБХВАТ ПОД ГРУДЬЮ (СМ)</td>
        </tr>
        <tr>
            <td></td>
            <td>63-67</td>
            <td>68-72</td>
            <td>73-77</td>
            <td>78-82</td>
            <td>83-87</td>
            <td>88-92</td>
            <td>93-97</td>
        </tr>
    </table>

    <img src="{% static 'main/img/photo_2022-12-31_04-51-25.jpg' %}" alt="" class="background">


{% endblock %}